<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Culinary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-body">

<div class="auth-container">

    <div class="auth-card">
        <h2>Welcome Back 👋</h2>
        <p class="auth-subtitle">Login to explore delicious recipes</p>

        <form method="POST">
            <input type="email" name="email" placeholder="Email address" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p class="auth-footer">
            Don’t have an account?
            <a href="/register">Create one</a>
        </p>
    </div>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>


